@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-black text-white antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .mix-blend-difference {
    mix-blend-mode: difference;
  }

  .mix-blend-overlay {
    mix-blend-mode: overlay;
  }

  .mix-blend-multiply {
    mix-blend-mode: multiply;
  }
}
